<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/aboutphoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre" >Pablo David Cabrera</p> 
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus suscipit voluptate dolore sint doloremque, repellendus corporis molestias cumque? Dolores numquam earum minus consequuntur inventore sunt beatae quam quia adipisci harum.</p>
        </span>
    </div>
</div> 