.row{
    padding: 20px;
}

div{
    background-color: #585a52;
    text-align: center;
}

#about3{
    border-style:groove;
    border-color: gray;
    background-color: rgb(45 86 94);
}

#nombre{
    font-weight: bold;
}

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 150px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 3%;
        top: 467px;

    }
}

@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 33%;
        top: 505px;

    }
}

#editPhoto{
    position: absolute;
    z-index: 5px;
    background-color: #585a52;
}

@media (max-width: 575px){
    #editPhoto{
        position: absolute;
        left: 33%;
        top: 505px;

    }
}

@media (min-width: 576px){
    #editPhoto{
        position: absolute;
        left: 3%;
        top: 467px;

    }
}