<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="{{person.urlImagen}}"  id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre" >{{person.nombre}} {{person.apellido}}</p> 
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <b>Honesto Resilente Proactivo Paciente  Compañero</b>
            <p>Bienvenido. El objeto de la muestra de este portfolio es producto del resultado de la capacitación llevada a cabo por Argentina Programa y del aprendizaje de este humilde servidor.</p>
        </span>
    </div>
</div> 



