<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1">
        <button class="btn btn-success">Agregar</button>
        <button class="btn btn-dark">Editar</button> 
    </div>

    <div class="col-lg-11">
        <ul *ngFor="let education of education">
            <li>
                <h3> Título: </h3>  {{ education.title }} <button class="btn btn-danger">Eliminar</button><br>
                <h3> Descripción: </h3> {{ education.description}}
                
            </li>
        </ul>
    </div>
</div>



