<div class="row" id="education">
    <h1>Educación</h1>
    <div class="col-lg-1">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEducationModal"><img src="../../../assets/add_circle.svg" data-bs-toggle="modal" data-bs-target="#addEducationModal" class="button"></button>
        
        
        <div class="modal fade" id="addEducationModal" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="tituloVentana">Agregar Estudios</h5>
                        <button class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form [formGroup]="newForm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Título</label>
                                    <input type="text" class="form-control" placeholder="Título:" formControlName="title" >
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Descripción</label>
                                    <input type="text" class="form-control" placeholder="Descripción:" formControlName="description" >
                                </div>
                            </form>
                            
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="button" (click)="postForm(newForm.value)" data-bs-dismiss="modal"> Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-11">
        <ul *ngFor="let education of education" id="education3">
            <li>
                <h3> Título: </h3>  {{ education.title }} <button class="btn btn-primary" (mouseenter)="editById(education.id)" (click)="editById(education.id)" data-bs-toggle="modal" data-bs-target="#editEducationModal" id="editButton"><img src="../../../assets/edit.svg"></button> <button class="btn btn-danger" (click)="deleteById(education.id)"><img src="../../../assets/delete.svg" ></button><br>
                <h3> Descripción: </h3> {{ education.description}} 

                <div class="modal fade" id="editEducationModal" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 id="tituloVentana">Editar Educación</h5>
                                <button class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <form [formGroup]="editForm">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Título</label>
                                            <input type="text" class="form-control" placeholder="Título:" formControlName="title" >
                                        </div>                               
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Descripción</label>
                                            <input type="text" class="form-control" placeholder="Descripción:" formControlName="description" >
                                        </div>
                                    
                                    </form>
                                    
                                </div> 
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" type="button" (click)="postForm(editForm.value)" data-bs-dismiss="modal"> Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </li>
        </ul>
    </div>
    
</div>



