<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Crud Personas</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid veritatis provident tenetur, nisi voluptates impedit pariatur quae! Quae rerum nulla labore quod sunt sed, temporibus, provident cum culpa accusamus alias.</p>
        </div>
        <div>
            <h1>Lista de Compras</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, est sunt amet ex delectus, soluta consectetur enim aperiam ipsam facere repellendus dolorem autem vel voluptatum. Ut, quas asperiores! Sint, corrupti.</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="" class="img-fluid img-project">
        </div>
    </div>
</div>